.scroll-app {
  font-family: sans-serif;
  text-align: center;
  border: 1px solid #ccc;
  display: block;
  width: 800px;
  min-width: 800px;
  margin: auto;
  overflow-x: hidden;
}

#scroll-header {
  // top: 50px;
  // left: 50%;
  // transform: translateX(-50%);
  position: fixed;
  background-color: #ccc;
  width: 1190px;
  max-width: 1190px;
  // z-index: 100;
  text-align: center;
  // display: block;
  margin: auto;
}

#scroll-content {
  width: 100%;
  overflow-x: hidden;
  clear: both;
  border: 1px solid;
  margin-top: 50px;
}

.scroll-post {
  padding-bottom: 150px;
  width: 1190px;
  margin: auto;
  border: 1px solid #ccc;
  text-align: justify;
}

.section {
  border: 1px solid red;
  padding: 1rem;
  height: 50vh;
}

.part1 {
  background-color: rebeccapurple;
  color: #ccc;
}

.part2 {
  background-color: gold;
  color: #000;
}

.part3 {
  background-color: lightsalmon;
  color:#000;
}

.link-nav{
  ul {
  list-style: none;
  display: flex;

  li {
    padding: 2rem;
    cursor: pointer;

    &:hover {
      background-color: #ff000070;
    }

    div {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      position: sticky;
      font-size: 2rem;
    }
  }
}
}

